#pozadina{
    background-image:url('../assets/pozadina.png');
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    margin: 0;
    padding: 0;
    background-size:100% 100% !important;
    background-repeat: repeat !important;
} 
