<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SunTour</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav" *ngIf="authService.isAuthenticated()">
      <a class="nav-item nav-link active" href="#">Ponude</a>
      <a class="nav-item nav-link" href="#">Rezervacije</a>
      <a class="nav-item nav-link" href="#">Administracija</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav" *ngIf="authService.isAuthenticated()">
    <div class="navbar-nav">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a class="nav-item nav-link" href="#">Logout</a>
    </div>
  </div>
</nav>
</header>