<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/'">SunTour</a>
  <div class="navbar-expand mr-auto">
    <ul class="navbar-nav" *ngIf="authService.isAuthenticated()">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usluge
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'dashboard/tours'">Studentska putovanja</a>
          <a class="dropdown-item" [routerLink]="'dashboard/tours'">Ekskurzije</a>
          <a class="dropdown-item" [routerLink]="'dashboard/tours'">Bračna putovanja</a>
          <a class="dropdown-item" [routerLink]="'dashboard/tours'">Turističke ture</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="'dashboard/reservations'" [routerLinkActive]="['active']">Rezervacije</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administracija
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="'administration/passenger/new'" [routerLinkActive]="['active']">Novi turist</a>
            <a class="dropdown-item" [routerLink]="'administration/tour/new'" [routerLinkActive]="['active']">Kreiraj turu</a>
            <a class="dropdown-item" [routerLink]="'administration/hotel/new'" [routerLinkActive]="['active']">Registruj hotel</a>
            <a class="dropdown-item" [routerLink]="'administration/employees'" [routerLinkActive]="['active']">Postavke uposlenika</a>
            <a class="dropdown-item" [routerLink]="'administration/securitymanagement'" [routerLinkActive]="['active']">Postavke privilegija</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" [routerLink]="'administration/rolehistory'" [routerLinkActive]="['active']">Historijat rola</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" [routerLink]="'administration/actionlog'" [routerLinkActive]="['active']">Pregled akcija</a>
        </li>
    </ul>
  </div>
  <div class="navbar-expand ml-auto navbar-nav" *ngIf="authService.isAuthenticated()">
    <div class="navbar-nav">
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-4" type="submit">Traži</button>
      </form> -->
      <a class="nav-item nav-link" [routerLink]="'/'" (click)="logOut()">Logout {{ authService.userData.fullName }}</a>
    </div>
  </div>
</nav>
</header>