<div class="container pb-2 pl-4 pr-4 pt-2 mt-5 shadow rounded">
  <div class="row">
    <h1 class="h3">Novi hotel</h1>
    <hr />
  </div>

  <div class="row w-100 mt-2">
    <div class="form-group w-50">
      <label for="name">Naziv:</label>
      <input name="name" type="text" class="form-control" [(ngModel)]="hotel.name" />
    </div>
    
    <div class="d-flex w-100 justify-content-between">
      <div class="form-group">
        <label for="country">Država:</label>
        <input name="country" type="text" class="form-control" [(ngModel)]="hotel.country"/>
      </div>
      <div class="form-group">
        <label for="city">Grad:</label>
        <input name="city" type="text" class="form-control" [(ngModel)]="hotel.city"/>
      </div>
      <div class="form-group">
        <label for="address">Adresa:</label>
        <input name="address" type="text" class="form-control" [(ngModel)]="hotel.address"/>
      </div>
    </div>

    <div class="d-flex w-100 justify-content-between">
      <div class="form-group">
        <label for="country">Kontakt telefon:</label>
        <input name="country" type="text" class="form-control" [(ngModel)]="hotel.phoneNumber"/>
      </div>
      <div class="form-group">
        <label for="city">Website:</label>
        <input name="city" type="text" class="form-control" [(ngModel)]="hotel.website"/>
      </div>
      <div class="form-group">
        <label for="rating">Rating:</label>
        <select name="rating" class="form-control" style="width: 200px" [(ngModel)]="hotel.stars">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
  </div>

  <div class="d-flex w-100 justify-content-center">
    <button type="button" class="btn btn-danger mr-1" (click)="clearForm()">Očisti</button>
    <button type="button" class="btn btn-success ml-1" (click)="submit()">Kreiraj</button>
  </div>
  <label id="ermessage" for="errormessage">{{errormessage}}</label>
  <label id="successmessage" for="success">{{success}}</label>
</div>
