<div class="d-flex h-100">
  <div class="w-30 content-left">
    <div class="d-flex flex-column pl-4 pr-4 pt-2">
      <div class="row">
        <h1 class="h3">Podaci o putniku</h1>
      </div>
      <div class="pt-4 row d-flex justify-content-between">
        <input type="text" placeholder="Ime" class="w-40 form-control"/>
        <input type="text" placeholder="Prezime" class="w-40 form-control"/>
      </div>
      <div class="row pt-4">
        <label>Datum rođenja <input type="date" class="form-control" /></label>
      </div>
      <div class="pt-4 row d-flex justify-content-between">
        <input type="text" placeholder="JMBG" class="w-40 form-control" />
        <input type="text" placeholder="Broj pasoša" class="w-40 form-control" />
      </div>
      <div class="pt-4 row">
        <input type="text" class="w-100 form-control" placeholder="Adresa stanovanja" />
      </div>
      <div class="pt-5 row d-flex justify-content-around">
        <button class="btn btn-outline-danger">Obriši</button>
        <button class="btn btn-primary">Spasi</button>
      </div>
    </div>
  </div>
  <div class="w-70 background-right"></div>
</div>