<div class="text-center main h-100 d-flex align-items-center justify-content-center">
  <form class="form-signin">
    <h1 class="h3 mb-5 font-weight-normal">Login</h1>

    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off" [(ngModel)]="username"/>
    <input type="password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required="" autocomplete="off" [(ngModel)]="password"/>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe" name="rememberMe"> Remember me
      </label>
    </div>

    <div class="row">
      <div class="col text-center">
        <button class="btn btn-md btn-primary btn-block mb-2 mt-3" type="button" (click)="login()">Login</button>
      </div>
    </div>

  </form>
</div>